body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.Header {
  width: 100%;
}

.header-1 {
  padding: 15px 0px;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.inner-header-1 {
  display: flex;
  flex-direction: row;
  width: 66%;
  padding-left: 10%;
  font-size: 20px;
}

.header-1-text {
  padding-right: 40px;
}
.inner-header-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  padding-right: 7%;
  color: white;
  gap: 30px;
}

.inner-header-1 i {
  color: red;
  margin-right: 10px;
}

.logo img {
  padding-right: 100px;
  width: 200px;
  height: 10vh;
}

.navbar {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100%;
}

#footerbg {
  background-color: (56, 54, 54);
  color: #fff;
}

.main-container .main-page-img {
  width: 100%;
  height: 50%;
}
.main-container {
  height: 90vh;
  background-image: url('images/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}
.row .col-sm-3 {
  padding: 50px 0 50px 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: none;
  margin-top: 10%;
  margin-left: 50px;
  border-width: 0;
  padding: 100px 0px 0px 50px;
}
.card .card-image {
  /* position: absolute; */
  margin-left: 10%;
  font-size: 100px;
  padding: 10px;
  border-radius: 60%;
  background-color: red;
  color: white;
}
.card .container {
  margin-top: 20px;
}

.sub-section-1 .sub-image {
  width: 80%;
  height: 50vh;
  align-items: center;
  margin: 5% 10% 5% 10%;
}

.sub-section-2 {
  background-image: url('images/image4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.icon-1 {
  color: red;
  margin-top: 50px;
}

.sub-section-3 {
  text-align: center;
  justify-content: center;
  margin: 10% 0 10% 5%;
}

/*.sub-section-4 {
  margin: 30px 30px 30px 30px;
  padding: 20px 20px 20px 100px;
}*/

.col-2 {
  flex-basis: 50%;
  min-width: 500px;
  margin: 200px 20px 50px 100px;
}

.col-image {
  background-image: url('images/image5.jpg');
  color: #fff;
  width: 100%;
}

.col-image hr {
  color: red;
  border: 2px solid;
  border-radius: 20px;
}

.sub-hr {
  color: red;
  padding: 2px;
  margin: 50px 0px 50px 0px;
}

/* .footerbg {
  background-color: black;
}

.footer-links {
  padding-left: 50px;
} */

.contact-image {
  color: red;
  margin: 5px 0 10px 10px;
}

.contact-section {
  padding: 20px 100px 100px 0px;
  background-color: black;
  color: #fff;
  margin: 350px 200px;
  justify-content: space-between;
}

.contact-section-1 {
  padding: 100px 100px 100px 100px;
  font-size: 30px;
  margin: 100px 10px;
  background-color: grey;
  justify-content: space-between;
}

.contact-btn button {
  padding: 10px 20px;
  border: 1px solid rgb(150, 148, 148);
  border-radius: 5px;
  transition: 0.5s;
  font-size: 20px;
}

.contact-btn button:hover {
  border: 1px solid black;
}

.react-icon {
  color: red;
}

.form-1 {
  width: 100%;
}

.form-2 {
  width: 100%;
  height: 15vh;
}

@media screen and (max-width: 500px) {
  .list {
    flex-direction: column;
    height: auto;
  }
  .items:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 50px;
  }
  .items {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .btn {
    display: block;
  }
}

/* FOOTER SECTION */
footer span {
  font-size: 40px;
}
.footer {
  padding: 100px 50px;
}
.footer p {
  font-size: 20px;
  color: rgb(137, 135, 135);
}
.footer a {
  text-decoration: none;
  color: rgb(137, 135, 135);
}

.footer-1 {
  color: rgb(137, 135, 135);
  font-size: 20px;
}

.footer img {
  width: 30%;
  margin-bottom: 30px;
}

.maindiv {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.maindiv .contact {
  background: black;
  color: #fff;
  justify-content: center;
}
.maindiv .c-form {
  width: 50%;
  background-color: #fff;
  border: 2px solid grey;
}
.maindiv .c-form label {
  width: 100%;
}
.maindiv .c-form input[type='email'],
input[type='text'],
input[type='submit'],
textarea {
  margin-bottom: 20px;
  width: 100%;
  padding: 7px 12px;
}

.maindiv .c-form input[type='submit'] {
  width: 15%;
}
@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .header-1 {
    display: none;
  }
  .sub-section-2 {
    height: fit-content;
    size: 10px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footer {
    flex-direction: column;
  }
  .maindiv {
    flex-direction: column;
  }
}
